################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FSL.MvcDataAnnotationsHtmlHelpersKnockoutJS/bin
/FSL.MvcDataAnnotationsHtmlHelpersKnockoutJS/obj/Debug
*.user
/packages
/FSL.MvcDataAnnotationsHtmlHelpersKnockoutJS/obj/Release
